@import "../../../../styles//colors.module.scss";
.btn_white_bg {
  button {
    background-color: $white;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.9px;
    &:hover{
        background-color: $red;
        color:$white;
      }
  }
 
}
