$green_dark: #116954;
$green_main: #96ce8b;
$green_light: #edf3ed;
$black: #000000;
$black_deep: #3b3841;
$orange: #fdc221;
$red: #ff5a47;
$blue: #5679ff;
$gray: #d0d0d0;
$dark_gray: #727272;
$white: #fff;
$white_2: #f0f0f0;
$light_red: #f88794;
$background_color: #f8f9fa;

