
/* Breakpoints mobile first approach */
$bp-xs: 412px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;

/* Mixins for media query */
@mixin screens-xs {
  @media (min-width: $bp-xs) {
    @content;
  }
}
@mixin screens-sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}
@mixin screens-md {
  @media (min-width: $bp-md) {
    @content;
  }
}
@mixin screens-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}
@mixin screens-xl {
  @media (min-width: $bp-xl) {
    @content;
  }
}
@mixin screens-2xl {
  @media (min-width: $bp-2xl) {
    @content;
  }
}
/*------------------------------*/

/*  ul default style override  */

@mixin ul-default-style-override {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*  Flex Mixin  */
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin text-overflow-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}